body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
    padding-top: 50px;
}

h1 {
    color: #333;
}

.buttons button {
    padding: 15px 25px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: #333;
    color: white;
}
.buttons button:hover {
    background: #555;
}

#result {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
}